# npm
node_modules

# misc
.dccache

# cdk
cdk.out*

# secrets
.gitsecret/keys/random_seed
!*.secret
eks-connector/eks-connector-clusterrole.yaml
eks-connector/eks-connector-console-dashboard-full-access-group.yaml
eks-connector/eks-connector.yaml
